h2 Oh noes
p.lead Online GLSA Checker has encountered an error.
p
  | The error was logged. Please check back again later to see if it has been fixed.
  | If you find an error that is not fixed in a timely manner you may #[a(href="https://github.com/hairmare/ogc/issues/new") raise an issue].
